@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

a {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
a:hover, a:focus {
  text-decoration:none; 
}

b, strong, th {
  font-weight: 700;
}


body {
  font-family: 'Open Sans', sans-serif, Arial;  
  font-weight: normal;
  font-size: 15px;
  line-height: 1.4;
  overflow-x:hidden; 
}



/*------------- General -----------*/
.container {position:relative; max-width: 1180px;}
.section {margin:0; padding:0; float:left; width:100%; position:relative; }
.inline {display:inline-block; width:100%;}
.main-content {margin:30px 0; min-height:500px; padding-bottom:30px;}

h1.page-title {
  margin-top:120px; 
  margin-bottom:0;  
  letter-spacing:1px;
  font-weight: 700;  
  text-transform: uppercase;
  color:white;
}

.resizable-textarea .grippie {display:none !important;}


/*----------------- Header styles----------------*/
.header {
  z-index:103; position:relative; background-color:#1b2a3d; height:50px;  
}

.header #logo {
  position:absolute; z-index:4; top:70px; left:0;
   -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.languages {
  position:relative; float:left; z-index:5; 
}

#curLang {
  background-color:#131e26;
  padding-left:42px; line-height:50px;
  color:white; cursor:pointer;
  font-weight:700; 
  font-size:12px; width:130px;
  background-repeat:no-repeat;
  background-position:14px center;
}
#curLang .title {
  margin-right:15px; 
}

.language-switcher {
  position:absolute; top:50px; left:0; right:0;
  margin:0; padding:0; display:none; width:130px;
}
.language-switcher li {
  list-style:none; padding:0; margin:0;
}
.language-switcher li a {
  color:white; padding:0 15px 0 42px; 
  line-height:50px; display:block; 
  font-weight:700;
  font-size:12px;  
  background-color:#131e26;
  background-repeat:no-repeat;
  background-position:14px center;
}
.language-switcher li a.en, #curLang.en {
  background-image:url(../images/en.png);
}
.language-switcher li a.ru, #curLang.ru {
  background-image:url(../images/ru.png);
}
.language-switcher li a:hover {
  background-color:black; 
}

.header .slogan {
	float:right; color:white;
	line-height:50px;
	font-size:20px;
	font-weight:300;  
}

/*------------ Header fixed ----------*/
.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color:rgba(26,41,61,0.8); 
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);  
}
.header.fixed #curLang {
  width:65px;
}
.header.fixed #logo {
  position: static;
  float: left; 
  margin-right: 20px;
}

.header.fixed #logo img {
	max-height:48px; width:auto !important; 
}
.header.fixed #curLang .title, 
.header.fixed .slogan {
  display:none; 
}

.header .search-form {
  max-width:250px;
  margin-top:7px;
  float:right;  
}

.header.fixed .search-form {
  display:none; 
}

/*------------- Main menu -----------*/
#main-menu {
  position:absolute; top:65px; right:0; 
}
ul.main-menu {
  list-style:none; padding:0;
  margin:0; 
}
ul.main-menu.navbar-nav {
  text-align:center; width:100%;
  display:table;
}
ul.main-menu.navbar-nav > li { 
  list-style:none; margin:0; padding:0;
  display:inline-block;
}
ul.main-menu.navbar-nav > li > a {
  padding:15px; float:left;
  color:white; font-size:16px;
  text-transform:uppercase; 
  font-weight:700;
  position:relative; 
}
ul.main-menu.navbar-nav > li > a:after {
  content:''; position:absolute; bottom:0;
  left:0; right:0; height:1px;
  background-color:white; 
}
ul.main-menu.navbar-nav > li:hover > a:after, 
ul.main-menu.navbar-nav > li.active > a:after {
  background-color:#00a0e3; height:4px; 
}

ul.main-menu.navbar-nav > li > ul.dropdown-menu {
  border:none; border-top:10px solid white; 
  border-radius:0; box-shadow:none;
  background-color:transparent; padding:0;
  left:50%; margin-left:-105px; min-width:210px;    
}
ul.main-menu.navbar-nav > li.expanded:hover > ul.dropdown-menu {
  display:block; 
}
ul.main-menu.navbar-nav > li > ul.dropdown-menu > li {
  margin:0; padding:0; list-style:none;  
}
ul.main-menu.navbar-nav > li > ul.dropdown-menu > li > a {
  background-color:rgba(255,255,255,0.9); padding:10px 15px;
  border-top:1px solid #c3dbe6; color:#3d5466; 
  font-weight:700;
}
ul.main-menu.navbar-nav > li > ul.dropdown-menu > li > a:hover { 
  background-color:#005a9e; color:white; 
}

.header.fixed #main-menu {
  position:static; float:right; 
}

.header.fixed ul.main-menu.navbar-nav > li > a {
  padding:15px 12px; font-size:12px; color:white;  
}
.header.fixed ul.main-menu.navbar-nav > li > a:after {
  height:0;
}
.header.fixed ul.main-menu.navbar-nav > li > a:hover:after, 
.header.fixed ul.main-menu.navbar-nav > li > a.active:after {
  background-color:#00a0e3; height:4px; 
}


/*------------- Footer -----------*/
.footer {
  padding:30px 0 20px; 
  background-color:#17191a; 
  color:white; 
}
.footer p {
  margin-bottom:6px; 
}
.footer a {
	color:#aaa;
	text-decoration:underline; 
}
.footer a:hover {
	color:white;
	text-decoration:none; 
}

.scrollTop {
  position:fixed; bottom:30px; right:20px; 
  background:#005a9e url(../images/scrollTop.png) no-repeat center center;
  cursor:pointer; z-index: 9999; 
  width:40px; height:40px; 
  opacity:0.7;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out; 
}
.scrollTop:hover {
	opacity:1; 
}


/*------------- Slider -----------*/
.bx-wrapper {
	float:left; width:100%; position:relative; 
}
.slideshow .slide {
  width:100%; margin:0; padding:0;
}
.slideshow .slide img {
  width:100% !important; height:auto !important;
  min-height:300px !important; 
}
.bx-controls-direction > a {
  position:absolute; top:50%; text-indent:-9999px; 
  margin-top:-29px; width:28px; height:57px; z-index:90; 
}
.bx-controls-direction > a:hover {
  opacity:0.7; 
}
.bx-controls-direction > a.bx-prev { 
  left:20px; background:url(../images/left.png) no-repeat 0 0; 
}
.bx-controls-direction > a.bx-next { 
  right:20px; background:url(../images/right.png) no-repeat right 0; 
}
.slideshow .slide .bg {
  position:absolute; bottom:30%;
  right:20%; z-index:2; padding:35px;
  max-width:420px; color:white;
  background-color:rgba(19,30,38,0.5);
}
.slideshow .slide h1 {
  font-size:30px; font-weight:700; 
  position:relative; text-transform:uppercase; 
  margin-bottom:30px; margin-top:0;  
}
.slideshow .slide h1:before {
  content:''; position:absolute; bottom:-15px;
  left:-43px; right:-43px; height:2px;
  background-color:#00a0e3;  
}
.slideshow .slide .text {
  margin-bottom:0; font-size:18px; 
}

.banner-inner {
  min-height:220px;
  background:url(../images/bg.png) repeat 0 0;  
}

.full-text {
  display:inline-block; width:100%; 
}
.full-text img {
  max-width:100% !important;
  height:auto !important; 
}

/*------------ Animation effects ------------*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ajax-loader {
  background:rgba(255,255,255,0.8) url(../images/loader.svg) no-repeat center center;
  background-size:40px;
  display:none;  
  position:fixed; top:0; left:0;
  width:100%; height:100%; z-index:9999; 
}
/*------------- Slider bg animated --------------*/

.bx-viewport .slide .bg {
  opacity:0;
}
.bx-viewport .active-slide .bg {
  opacity:1;
}
.bx-viewport .active-slide .bg.fadeInTop {
  -webkit-animation-name: fadeInTop;
          animation-name: fadeInTop;
}


@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform:  translateY(-50px);
  }

  100% {
    opacity: 1;
    -webkit-transform:translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform:  translateY(-50px);
            transform:  translateY(-50px);
  }

  100% {
    opacity: 1;
    -webkit-transform:translateY(0);
            transform: translateY(0);
  }
}

.fadeInTop {
  -webkit-animation-name: fadeInTop;
          animation-name: fadeInTop;
}